@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    border: 1px solid red;
    font-family: Poppins;
}

.text-centered{
    text-align: center;
}

.container{
    display: block;
    flex-direction: column;
    width: 90%;
}

.form{
    display: block;
}