@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    border: 1px solid red;
    font-family: Poppins;
}


.container{
    display: flexbox;
    flex-direction: column;
}